*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(255, 140, 180);
}

.bg-rosa{
    background:rgb(240, 95, 143) ;
}

.boton{
    background: rgb(240, 95, 143) ;
    width: 60px;
    height: 60px;
    margin: 5px;
}